
.header {
  width: 15000px;
  height: 40px;
  border-bottom: solid grey;
  border-width: 2px;
  margin-top: 0px;
}

#countdown {
  position: relative;
  top: 50px;
  left: 220px;
  font-size: 20px;

}

.pomodoro-main-content {
  position: relative;
  width: 500px ;
  height: 250px;
  background-color: grey;
  margin: auto;
  top: 10px;
}

.two-button-switch {
  position: relative;
  margin: auto;
  width: 250px;
  height: 35px;
  top: 35px;
  background-color: white;
  border-radius: 2px;
}

#user-input {
  position: relative;
  margin: auto;
  text-align: center;
  top: 75px;
}

button {
  position: relative;
  margin-left: 63%;
  top: 90px;
}
h3 {
  position:relative;
  top: 30px;
  left: 215px;
}

.completed {
  width: 100px;
  height: 10px;
}

#yes {
  display: none;
  right: 80px;

}

#no {
  display: none;
  bottom: 40px;
  position: relative;
  top: 65px;
}
.progressBar {
width: 400px;
height: 22px;
border: 1px solid #111;
background-color: #292929;
}

.progressBar div {
height: 100%;
color: #fff;
text-align: right;
line-height: 22px; /* same as #progressBar height if we want text middle aligned */
width: 0;
background-color: #0099ff;
}
