body {
  margin: 0px;
}
.header {
  width: 100%;
  height: 40px;
  border-bottom: solid grey;
  border-width: 2px;
  margin-top: 0px;
  margin-left: 0px;
}

#countdown {
  position: relative;
  top: 50px;
  left: 160px;
  font-size: 40px;
}
.que {
  height: 242px;
  top: 5px;
  width: 102px;
  background-color: #5D8DD1;
  position: absolute;
  left: 395px;
  border-radius: 3px;
  -moz-box-shadow:    inset 0 0 10px #5D8DD1;
  -webkit-box-shadow: inset 0 0 10px #5D8DD1;
  box-shadow:         inset 0 0 20px #5D8DD1
}

.pomodoro-main-content {
  position: relative;
  width: 500px ;
  height: 250px;
  background-color: grey;
  margin: auto;
  top: 10px;
}

.two-button-switch {
  position: relative;
  margin: auto;
  width: 250px;
  height: 35px;
  top: 35px;
  background-color: white;
  border-radius: 2px;
}

#user-input {
  position: relative;
  margin: auto;
  text-align: center;
  top: 75px;
  left: 45px;
}

button {
  position: relative;
  top: 90px;
  float: right;
}
h3 {
  position:relative;
  top: 30px;
  left: 215px;
}

.completed {
  position: absolute;
  width: 100px;
  height: 10px;
  padding-left: 2px;
}
#start {
  width: 200px;
}

#yes {
  display: none;
  right: 120px;
  background-color: #5D8DD1;
}

#no {
  display: none;
  bottom: 40px;
  position: relative;
  top: 90px;
  left: 40px;
}
.progressBar {
  width: 750px;
  height: 37px;
  background-color: #A8B2C0;
  border-radius: 5px;
  position: relative;
  border: 1px solid #000;
  top: -7px;
  z-index: 10;
  left: 10px;
}

.progressBar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #23C77D;
  border-radius: 5px;
}

.align-right {
  width: 300px;
}

.list-container {
  top: 17px;
  width: 102px;
  height: 205px;
  position: absolute;
}
#que-footer {
  position: absolute;
  left: 40px;
  top: 222px;
}

.progress-container {
  background-color: #222;
  width: 100%;
  height: 69px;
  position: fixed;
  bottom: 0px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.4);
  box-shadow: inset 0 0 1px rgba(255,255,255,0.4);
}

.progress-display {
  position: relative;
  left: 780px;
  width: 250px;
  height: 38px;
  bottom: 47px;
  background-color: #d7bf86;
  border-radius: 3px;
  border: 1px solid #000;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
}