body {
  background-image: url(http://www.good.co/assets/subtle-pattern.jpg);
}
.completed {
  background-color: #ddcf99;
  border-color:
  display: none;
  height: 20px;
  left: 2px;
  width: 96px;
  border-radius: 1.5px;
}

.button-style {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  color: #ffffff;
  background-color: #23C77D;
  border: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
#yes {
  background-color: #23C77D;
}

#no {
  background-color: #C74352;;
}

#countdown {
  font-family: Aller;
  font-weight: 500;
}
.pomodoro-main-content {
  background-color: #ffffff;
  box-shadow: 3px 3px 1px #888888;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: .85;
}

#que-title {
  position: relative;
  color: white;
  font-family: Aller;
  text-decoration:underline;
  left: 2px;
  text-align: center;
}
#que-footer {
  color: white;
  font-family: Aller;
  font-size: 15px;
  text-decoration:underline;
  text-align: center;
}
#newsfeed {
  color: white;

}

.title {
  color: white;
  margin-left: 7px;
  margin-top: 0px;
}