<div class="header"> <h1>Pomodora</h1> </div>

<div class="pomodoro-main-content">
  <div class="two-button-switch"> </div>
    <div id="countdown"> Timer </div>
  <form id ="user-input">
    <input id="textbox" type="text" name="todo"  placeholder="ex ~ Finish Reading Chapter 2">
  </form>
  <button id="start" type ="button">Start</button>
  <button id="yes" type ="button">Yes </button>
  <button id ="no" type="button"> No </button>
</div>
  <div class="progressBar" id="max22">
    <div id="attribute"></div>
    </div>
  <hr />

<div class="completed">

</div>